<div class="section" style="padding: 10px;">
    <div class="row">
        <div class="col-md-12">
            <!-- Start Big Heading -->
            <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
                <h1>These <strong>Organisations</strong> need your assistance</h1>
            </div>
            <!-- End Big Heading -->

            <!-- Nav Tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-award-1"></i>All</a></li>
                <li><a href="#tab2" data-toggle="tab"><i class="icon-beaker"></i>Health</a></li>
                <li><a href="#tab3" data-toggle="tab"><i class="icon-droplet"></i>Education</a></li>
                <li><a href="#tab4" data-toggle="tab"><i class="icon-droplet"></i>Women</a></li>
                <li><a href="#tab5" data-toggle="tab"><i class="icon-droplet"></i>Children</a></li>
                <li><a href="#tab6" data-toggle="tab"><i class="icon-droplet"></i>Disaster Managment</a></li>
            </ul>

            <!-- Tab Panels -->
            <div class="tab-content">
                <!-- Tab Content 1 -->
                <div class="tab-pane fade in active" id="tab1">
                    <!-- Start Recent Projects Carousel -->
                    <ul id="portfolio-list" data-animated="fadeIn">
                        {{#each all}}
                        <li>
                        <img src={{this.pictures.gallery.[0]}}?dim=250x200  alt="Image not found" onError="this.onerror=null;this.src='http://dummyimage.com/250x200/00bb57/fff.jpg&text=image+not+available';" />
                        <div class="portfolio-item-content">
                            <span class="header">About {{this.name}}</span>
                            <p class="body">{{this.description}} </p>
                        </div>

                        <h4 style="margin-top:10px; ">{{this.name}}</h4>
                        <a href="#organization/{{this.id}}"><i class="more">+</i></a>

                        </li>
                        {{/each}}

                    </ul>
                    <!-- End Recent Projects Carousel -->
                    <br>
                    <center><a href="organisations.html"><button class="btn btn-large btn-system">More Organisations</button></a></center>



                </div>
                <!-- Tab Content 2 -->
                <div class="tab-pane fade" id="tab2">
                    <ul id="portfolio-list" data-animated="fadeIn">
                        {{#each health}}
                        <li>
                        <img src={{this.pictures.gallery.[0]}}?dim=250x200  alt="Image not found" onError="this.onerror=null;this.src='http://dummyimage.com/250x200/00bb57/fff.jpg&text=image+not+available';" />
                        <div class="portfolio-item-content">
                            <span class="header">About {{this.name}}</span>
                            <p class="body">{{this.description}} </p>
                        </div>

                        <h4 style="margin-top:10px; ">{{this.name}}</h4>
                        <a href="#organization/{{this.id}}"><i class="more">+</i></a>

                        </li>
                        {{/each}}
                    </ul>
                </div>
                <!-- Tab Content 3 -->
                <div class="tab-pane fade" id="tab3">
                    <ul id="portfolio-list" data-animated="fadeIn">
                        {{#each education}}
                        <li>
                        <img src={{this.pictures.gallery.[0]}}?dim=250x200  alt="Image not found" onError="this.onerror=null;this.src='http://dummyimage.com/250x200/00bb57/fff.jpg&text=image+not+available';" />
                        <div class="portfolio-item-content">
                            <span class="header">About {{this.name}}</span>
                            <p class="body">{{this.description}} </p>
                        </div>

                        <h4 style="margin-top:10px; ">{{this.name}}</h4>
                        <a href="#organization/{{this.id}}"><i class="more">+</i></a>

                        </li>
                        {{/each}}
                    </ul>
                </div>
                <!-- Tab Content 4 -->
                <div class="tab-pane fade" id="tab4">
                    <ul id="portfolio-list" data-animated="fadeIn">
                        {{#each women}}
                        <li>
                        <img src={{this.pictures.gallery.[0]}}?dim=250x200  alt="Image not found" onError="this.onerror=null;this.src='http://dummyimage.com/250x200/00bb57/fff.jpg&text=image+not+available';" />
                        <div class="portfolio-item-content">
                            <span class="header">About {{this.name}}</span>
                            <p class="body">{{this.description}} </p>
                        </div>

                        <h4 style="margin-top:10px; ">{{this.name}}</h4>
                        <a href="#organization/{{this.id}}"><i class="more">+</i></a>

                        </li>
                        {{/each}}
                    </ul>
                </div>
                <!-- Tab Content 5 -->
                <div class="tab-pane fade" id="tab5">
                    <ul id="portfolio-list" data-animated="fadeIn">
                        {{#each children}}
                        <li>
                        <img src={{this.pictures.gallery.[0]}}?dim=250x200  alt="Image not found" onError="this.onerror=null;this.src='http://dummyimage.com/250x200/00bb57/fff.jpg&text=image+not+available';" />
                        <div class="portfolio-item-content">
                            <span class="header">About {{this.name}}</span>
                            <p class="body">{{this.description}} </p>
                        </div>

                        <h4 style="margin-top:10px; ">{{this.name}}</h4>
                        <a href="#organization/{{this.id}}"><i class="more">+</i></a>

                        </li>
                        {{/each}}
                    </ul>
                </div>
                <!-- Tab Content 6 -->
                <div class="tab-pane fade" id="tab6">
                    <ul id="portfolio-list" data-animated="fadeIn">
                        {{#each disaster}}
                        <li>
                        <img src={{this.pictures.gallery.[0]}}?dim=250x200  alt="Image not found" onError="this.onerror=null;this.src='http://dummyimage.com/250x200/00bb57/fff.jpg&text=image+not+available';" />
                        <div class="portfolio-item-content">
                            <span class="header">About {{this.name}}</span>
                            <p class="body">{{this.description}} </p>
                        </div>

                        <h4 style="margin-top:10px; ">{{this.name}}</h4>
                        <a href="#organization/{{this.id}}"><i class="more">+</i></a>

                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
  </div>






    <br>

